* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "berlin sans fb", sans-serif;
	font-size: 18px;
	background-image: url("https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/1926698_1511741922467875_3327760109430242279_n.jpg?oh=5a5e4ca89f616a8feb49571ce6edf19c&oe=580E8784");
	background-color: #AEAEAE; opacity: .95;
	padding: 20px;
	padding-bottom: 20px;	
	padding-right: 60px;
	padding-left: 60px;
}

header {
	text-align: center;
	color: #000000;
}

a {
	color: #89AB93;
	text-decoration: none;
}


#etsy {
	color: #ffffff;
}

#aboutus {
	color: #FFFFFF;
	font-weight: normal;
}

#contact {
	color: #FFFFFF;
}

section {
	background-color: #000000;
	color: #89AB93;
}

main {
	background-color: #AEAEAE;
	text-align: center;
}

footer {
	text-align: center;
	background-color: #000000;
	color: #89AB93;
}

.sidebar-image-gallery {  
	background-color: #AEAEAE; 
	align-items: center;
	text-align: center;
	width: 80%;
	align-content: center;
}


.sidebar-image-gallery img { border-radius: 50%;  width: 20%; }

.sidebar-image-gallery img:hover { opacity: 1; }


#logo {
	border-radius: 50%;
}

#logo img {
	opacity: 1;
}

ul {
	line-height: 90%; 
}